/* Importando a fonte Manrope do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&display=swap');

/* Estilo base para o corpo do documento */
body {
    font-family: 'Manrope', sans-serif;
    color: #5C5F62; /* Cor de texto padrão */
    background-color: #ffffff; /* Cor de fundo */
}

/* Estilos para cabeçalhos */
h1 {
    font-size: 2.25em;
    font-weight: 300; 
    color: #000000; 
}

h2 {
    font-size: 1.75em;
    font-weight: 500; 
    color: #000000; 
}

h3 {
    font-weight: 300; 
    font-size: 14px;
}

h4 {
    font-size: 1.25em;
    font-weight: 300; /* Light */
}

h5 {
    font-size: 1em;
    font-weight: 300; /* Light */
}